@font-face {
  font-family: Ghibli-Bold;
  src: url(../public/fonts/Ghibli-Bold.otf) format('opentype');
}
@font-face {
  font-family: Ghibli;
  src: url(../public/fonts/Ghibli.otf) format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ghibli;
}

h1 {
  font-family: Ghibli-Bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
